@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
    margin: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    color: purple;
    background-color: beige;
}

.imgSize {
    width: 50%;
    height: auto;

}